@{
    ViewData["Title"] = "Sign Up Page";
}

@model Postcore.Web.Core.WebModels.Accounts.SignUpModel;

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <h4>Create a new account</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger">

            </div>

            <div class="form-group">
                <label asp-for="Email" />
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger" />
            </div>

            <div>
                <label asp-for="Password" />
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger" />
            </div>

            <div>
                <label asp-for="ConfirmPassword" />
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger" />
            </div>

            <button type="submit" class="btn btn-default">Sign Up</button>
        </form>
    </div>
</div>
