@{
    ViewData["Title"] = "Image Recognition";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<div class="row">
    <div class="col-md-6">
        <h3 class="mt-5">@ViewBag.Title</h3>
        <form id="imageForm" asp-controller="Sns" asp-action="Index" method="post" enctype="multipart/form-data">
            <div>&nbsp</div>

            <div class="form-group">
                <input type="file" id="imageFile" name="imageFile" accept="image/*" value="Upload an image" />
            </div>
            <button type="submit" id="btnUpload" class="btn btn-primary">Upload</button>

            <div>&nbsp</div>

            <div class="row">
                <ul id="messagesList"></ul>
            </div>
        </form>
    </div>
</div>

<div id="divProcessing">
    <p>Processing, please wait . . . <img src="../images/ajax-loader.gif"></p>
</div>

<script>

    $(function () {
        $("#divProcessing").hide();

        $("#imageForm").submit(function(e) {

            e.preventDefault();

            $('#messagesList').html('');
     
            var fileInput = $('#imageFile')[0];
            var file = fileInput.files[0];
            var fileData = new FormData();
            fileData.append('imageFile', file);

            if (file != null) {
                $("#btnUpload").attr("disabled", true);
                $("#divProcessing").show();
            }
                
            $.ajax({
                type: 'POST',
                url: '/sns/index',
                data: fileData,
                processData: false,
                contentType: false
            }).done(function (result) {
                window.setTimeout(function () {
                    $("#btnUpload").removeAttr("disabled");
                    $("#divProcessing").hide();
                }, 800);
                console.log(result);
            });
        });

    });
</script>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/sns.js"></script>

