@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="display-3">Welcome!</h1>
    <p class="lead">This site is currently under construction.  It is driven by a distributed system built using .NET Core microservices and utilizes various AWS cloud services.</p>
    <hr class="my-4">
    <p>Thanks for visiting.  We hope to unveil the magic soon!</p>

    <p class="mt-4">
        <a asp-action="Logout" asp-controller="Accounts">Sign out</a>
    </p>
</div>
